@import './base.css';

:root {
  --header-height: 120px;
  --footer-height: 75px;
  --med-grey: #e6eaee;
  --orange-button: #ec5a12;
  --brown: #89380f;
}

.container {
  width: 1055px;
  margin: 0 auto;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
