@import './base.css';

:root {
  --header-height: 120px;
  --footer-height: 75px;
}

.container {
  width: 1055px;
  margin: 0 auto;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
}
